body{
    background-color: rgb(173, 173, 237);
    background-position: center;
   background-size: cover;
   min-height: 109vh;
   width: 100%;  
}
.con{
    color: rgb(222, 85, 80);
    font-size: 100px;
    text-align: center;
    font: Arial;
}
img{
    width: 500px;
    height: 400px;
}

.date{
    color: antiquewhite;
    font-size:100px ;
}